<div class="bkgd-mask">
  <section class="content">
    <h1 class="logo maT50">
      <img src="./assets/images/mob_home_logo.png" alt="MovieCaker">
    </h1>

    <!-- <div class="search-area group-wrap">
      <form>
        <button class="btn-close group-wrap" type="reset">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </button>
        <div class="search-keyword ui">
          <i class="fa fa-search fa-lg pull-left" aria-hidden="true"></i>
          <input id="search-input" class="pull-left ui-autocomplete-input" type="search" name="" value="" placeholder="尋找電影..." autocomplete="off">
        </div>
      </form>
      <div id="search-autocomplete">
        <ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul>
      </div>
      <a href="#" class="more pull-right"><i class="fa fa-angle-right padR1x" aria-hidden="true"></i>更多搜尋結果</a>
    </div> -->
    <!-- <div class="group-wrap btn-group-wrap">
    <div class="page-btn-group pull-left">
      <a routerLink="/review/2469">
        <div class="page-btn"><i class="fa fa-ticket" aria-hidden="true"></i></div>
        <span class="page-title">本週票房榜</span>
      </a>
    </div>
    <div class="page-btn-group pull-left">
      <a href="#">
        <div class="page-btn"><i class="fa fa-film" aria-hidden="true"></i></div>
        <span class="page-title">院線熱映</span>
      </a>
    </div>
    <div class="page-btn-group pull-left">
      <a href="#">
        <div class="page-btn"><i class="fa fa-play" aria-hidden="true"></i></div>
        <span class="page-title">熱門在線看</span>
      </a>
    </div>
    <div class="page-btn-group pull-left">
      <a href="#">
        <div class="page-btn"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
        <span class="page-title">熱門專題</span>
      </a>
    </div>
    <!-- 朋友在看，個人頁面，只有登入後才會看到 -->
    <!--<div class="page-btn-group pull-left">
      <a href="#">
        <div class="page-btn"><i class="fa fa-users" aria-hidden="true"></i></div>
        <span class="page-title">朋友在看</span>
      </a>
    </div>
    <div class="page-btn-group pull-left">
      <a href="#">
        <div class="page-btn avatar"><img src="http://121.41.34.59/Content/pictures/files/C1656161_posters.jpg?width=400&height=600&stretch=fill" alt=""></div>
        <p class="page-title">個人頁面</p>
      </a>
    </div>    
  </div> -->

    <app-search></app-search>
    <app-other-review class="disp-block maT30p padLR10"></app-other-review>
  </section>
</div>